.card-text-review {
   font-style: italic;
}

.product_heading{
   text-align: center;
   padding-bottom: 20px;
}

#login_top {

   padding: 75px;
}

#login_btn {
   margin-bottom: 25px;
}

#new_user {
   width: 100%; 
   margin-left: auto;
}