.card-text-review {
   font-style: italic;
}

.product_heading{
   text-align: center;
   padding-bottom: 20px;
}

#login_top {

   padding: 75px;
}

#login_btn {
   margin-bottom: 25px;
}

#new_user {
   width: 100%; 
   margin-left: auto;
}


.cardremove {
   height: 530px;
   width: 350px;
   margin: 30px;
   float: right;
}

#contact_table {
   
   margin-top: 85px;
   width: 100px;
}


#carousel1, #carousel2, #carousel3 {
   padding-bottom: 500px;
}

#review1, #review2, #review3 {
   height: 140px;
}

.row h2 {
   text-align: center;
   padding: 75px;
}